@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-black1: #211c24;
  --color-gray-1: #f6f6f6;
  --color-gray-2: #f5f5f5;
  --color-gray-3: #909090;
  --color-gray-4: #2c2c2c;
  --color-gray-5: #ededed;
}

@layer base {
  html {
    font-family: var(--font-inter);
  }

  @layer utilities {
 .no-scrollbar::-webkit-scrollbar {
  display: none;
 }
 .no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
 }
}

  body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
